.profile-container {
    width: 300px; 
    background-color: #301f30; 
    color: #ffffff; 
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    height: 100%; 
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.profile-header h2 {
    color: #ffffff;  
    font-size: 28px;  
    font-weight: bold; 
    margin: 0;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border-bottom: 2px solid #5A2F4A; 
    padding-bottom: 5px; 
    background-color: #42233D; 
    padding: 12px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.profile-header h2:hover {
    color: #5A2F4A; 
    cursor: pointer; 
}

.profile-header .avatar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.profile-header .avatar-wrapper img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 3px solid #5A2F4A; 
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-details .profile-item {
    font-size: 14px;
    color: #ccc; 
    display: flex;
    justify-content: space-between;
    padding: 8px;
   
}

.profile-details .profile-item span {
    font-weight: bold;
}

.profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-buttons button {
    background-color: #5A2F4A;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.profile-buttons button:hover {
    background-color: #6A3755; 
}

.profile-buttons {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .profile-container {
        width: 250px; 
    }
}
